<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/header') %>
    <section class="main">
        <%- body %>
    </section>
    <%- partial('_partial/footer') %>
    <%- js('js/index.js') %>
</body>
</html>