<% if(type === 'index'){ %>
    <article>
        <h4 class="title"><a href="<%- url_for(post.path) %>"><%= post.title %></a></h4>
        <h6 class="date"><%= post.date.format('YYYY-MM-DD') %></h6>
        <%- list_tags(post.tags, {
            show_count: false,
            class: 'article-tag'
        }) %>
        <section class="md content">
            <% if(!/^\s*$/.test(post.excerpt)){ %>
                <%- post.excerpt %>
            <% }else{ %>
                <%- post.content %>
            <% } %>
        </section>
        <% if(!/^\s*$/.test(post.excerpt)){ %>
            <a href="<%- url_for(post.path) %>" class="more"><%= theme.excerpt_link %></a>
        <% } %>
    </article>
<% }else if (post.title !== 'tags'){ %>
    <h1><%= post.title %></h1>
    <article class="md">
        <%- post.content %>
    </article>
    <% if (config.duoshuo_shortname){ %>
      <section id="comments" class='duoshuo_comments'>
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="<%= post.layout %>-<%= post.slug %>" data-title="<%= post.title %>" data-url="<%= page.permalink %>"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name:'<%= config.duoshuo_shortname %>'};
              (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
              })();
          </script>
        <!-- 多说公共JS代码 end -->
      </section>
    <% } %>
<% }else if(post.title === 'tags'){ %>
    <%- list_tags() %>
<% } %>